{% extends "layouts/base.html" %}
{% load tabler_icons %}
{% load static %}
{% block content %}
    <h2>デートの詳細</h2>
    <form action={% url "select" %}>
        {% csrf_token %}
        <input type="text" name="area" placeholder="例: 赤羽" required>
        <select name="genre">
            <option value="">すべてのジャンル</option>
            {% for genre in genres %}<option value="{{ genre.code }}">{{ genre.name }}</option>{% endfor %}
        </select>
        <textarea name="query" placeholder="例: のんびりと過ごせる場所に行きたい"></textarea>
        <button type="submit">submit</button>
    </form>
{% endblock content %}
