{% extends "layouts/base.html" %}
{% load tabler_icons %}
{% load static %}
{% block content %}
    {{ weather.main }} - {{ weather.description }}
    <form action={% url "dateplan" %}>
        {% csrf_token %}
        <input type="hidden" name="area" value="{{ area }}">
        <input type="hidden" name="query" value="{{ query }}">
        <h2>飲食店</h2>
        <div>
            {% for restaurant in restaurants %}
                <input type="checkbox"
                       name="restaurant_id"
                       value="{{ restaurant.id }}"
                       id="{{ restaurant.id }}">
                <label for="{{ restaurant.id }}">{{ restaurant.name }}</label>
                <br>
            {% endfor %}
        </div>
        <h2>デートスポット</h2>
        <div>
            {% for spot in spots %}
                <input type="checkbox"
                       name="spot_id"
                       value="{{ spot.place_id }}"
                       id="{{ spot.place_id }}">
                <label for="{{ spot.place_id }}">{{ spot.name }} - {{ spot.place_id }}</label>
                <br>
            {% endfor %}
        </div>
        <button type="submit">submit</button>
    </form>
{% endblock content %}
