{% extends "layouts/base.html" %}
{% load tabler_icons %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/select.css" %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
{% endblock css %}
{% block js %}
    <script src="{% static 'js/loading.js' %}"></script>
{% endblock js %}
{% block content %}
    {% include "components/ui/loading.html" %}
    <h2 class="select-title">{{ area }}でのデートプラン</h2>
    <div class="weather">
        <div class="icon">
            <img src="https://openweathermap.org/img/wn/{{ weather.weather.0.icon }}@2x.png"
                 alt="{{ weather.weather.0.description }}">
        </div>
        <div class="content">
            <p class="description">{{ weather.weather.0.description }}</p>
            <p>気温: {{ weather.main.temp }}℃</p>
            <p>湿度: {{ weather.main.humidity }}%</p>
        </div>
    </div>
    <form action={% url "dateplan" %} class="form">
        {% csrf_token %}
        <input type="hidden" name="area" value="{{ area }}">
        <input type="hidden" name="query" value="{{ query }}">
        <h3>興味のある飲食店を選んでください</h3>
        <div class="shop-list">
            {% for restaurant in restaurants %}
                <label>
                    <input type="checkbox" name="restaurant_id" value="{{ restaurant.id }}">
                    <div class="image">
                        <img src="{{ restaurant.logo_image }}" alt="{{ restaurant.name }}">
                    </div>
                    <div class="content">
                        <h3>{{ restaurant.name }}</h3>
                        <p>{{ restaurant.genre.name }}</p>
                    </div>
                </label>
            {% endfor %}
        </div>
        <h3>興味のあるデートスポットを選んでください</h3>
        <div class="shop-list">
            {% for spot in spots %}
                <label>
                    <input type="checkbox" name="spot_id" value="{{ spot.place_id }}">
                    <div class="image">
                        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ spot.photos.0.photo_reference }}&key={{ maps_api_key }}"
                             alt="{{ spot.name }}">
                    </div>
                    <div class="content">
                        <h3>{{ spot.name }}</h3>
                        <p>{{ spot.vicinity }}</p>
                    </div>
                </label>
            {% endfor %}
        </div>
        <button type="submit" id="call_loading">{% tabler_icon "heart" %}デートプランを作成</button>
    </form>
{% endblock content %}
