.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

.dateplan-title {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  & > svg {
    height: 1.6em;
    width: 1.6em;
    color: #d77;
  }
}
