{% load tabler_icons %}
<div class="card-container">
    <div class="time">
        <p>{{ place.from_time }}</p>
        <p>{{ place.to_time }}</p>
    </div>
    <div class="card">
        <div class="image">
            <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ place.data.photos.0.photo_reference }}&key={{ api_key }}"
                 alt="{{ place.data.name }}">
        </div>
        <div class="content">
            <h3 class="title">{{ place.data.name }}</h3>
            <p class="location">{% tabler_icon "map-pin" %} {{ place.data.vicinity }}</p>
            <p class="comment">{{ place.comment }}</p>
        </div>
    </div>
</div>
